<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="hero__inner">

          <div class="hero__left">

            <h1 class="hero__title">{{page.hero_area.intro}}</h1>


            <h2 class="hero__job">{{page.hero_area.job}}</h2>


            <p class="hero__description">{{page.hero_area.description}}</p>


            <a class="hero__button" href="{{page.hero_area.btn-link}}">
              <span class="hero__button__arrow"><i class="ion ion-ios-arrow-forward"></i></span>
              <span>{{page.hero_area.btn-text}}</span>
            </a>

          </div>


          <div class="hero__right">
            <div class="hero__image">
              <img class="lazy loaded" alt="'s Picture" data-ll-status="loaded" src="{{page.hero_area.profile-image}}">
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</section>
