---
layout: default2
---

        <section class="hero">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="hero__inner">

          <div class="hero__left">

            <h1 class="hero__title">Hi, I'm <span>Tobias Klein</span>.</h1>


            <h2 class="hero__job">Designer, Illustrator</h2>


            <p class="hero__description">I spend a lot of time creating cool things</p>


            <a class="hero__button" href="/about/">
              <span class="hero__button__arrow"><i class="ion ion-ios-arrow-forward"></i></span>
              <span>Read about my past</span>
            </a>

          </div>


          <div class="hero__right">
            <div class="hero__image">
              <img class="lazy loaded" alt="'s Picture" data-ll-status="loaded" src="assets/img/profile.jpeg">
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</section>



<div class="container animate">

  <div class="section__head">
    <h3 class="section__title">Featured posts</h3>
  </div>

  <div class="row">


    <div class="article col col-4 col-d-6 col-t-12">
<div class="article__inner">

<div class="article__head">



  <a class="article__image" href="/do-what-you-can-with-what-you-have-where-you-are/">
    <img class="lazy loaded" alt="Do what you can, with what you have, where you are" data-ll-status="loaded" src="assets/img/06.jpeg">
  </a>

</div>

<div class="article__content">

  <div class="article__meta">
    <a class="article__author__link" href="/about/">Tobias Klein</a> –
    <time class="article__date" datetime="2022-11-12T12:01:35+00:00">12 November, 2022</time>
  </div>

  <h2 class="article__title">
    <a href="/do-what-you-can-with-what-you-have-where-you-are/">datacamp concrete regression challenge</a>
  </h2>

  <p class="article__excerpt">This is my notebook I created to solve the datacamp concrete challenge within an hour. There are explanations for most of the code in this article and we look deeper into the workings of the Lasso regression model.</p>


  <div class="article__tags">

    <a href="/tags/?tag=family" class="article__tag">regression-analysis </a>

    <a href="/tags/?tag=story" class="article__tag">sklearn</a>

  </div>


</div>
</div>
</div>
<div class="article col col-4 col-d-6 col-t-12">
<div class="article__inner">

<div class="article__head">



<a class="article__image" href="/do-what-you-can-with-what-you-have-where-you-are/">
<img class="lazy loaded" alt="Do what you can, with what you have, where you are" data-ll-status="loaded" src="assets/img/06.jpeg">
</a>

</div>

<div class="article__content">

<div class="article__meta">
<a class="article__author__link" href="/about/">Tobias Klein</a> –
<time class="article__date" datetime="2022-11-12T12:01:35+00:00">12 November, 2022</time>
</div>

<h2 class="article__title">
<a href="/do-what-you-can-with-what-you-have-where-you-are/">datacamp concrete regression challenge</a>
</h2>

<p class="article__excerpt">This is my notebook I created to solve the datacamp concrete challenge within an hour. There are explanations for most of the code in this article and we look deeper into the workings of the Lasso regression model.</p>


<div class="article__tags">

<a href="/tags/?tag=family" class="article__tag">regression-analysis </a>

<a href="/tags/?tag=story" class="article__tag">sklearn</a>

</div>


</div>
</div>
</div>
<div class="article col col-4 col-d-6 col-t-12">
<div class="article__inner">

<div class="article__head">



<a class="article__image" href="/do-what-you-can-with-what-you-have-where-you-are/">
<img class="lazy loaded" alt="Do what you can, with what you have, where you are" data-ll-status="loaded" src="assets/img/06.jpeg">
</a>

</div>

<div class="article__content">

<div class="article__meta">
<a class="article__author__link" href="/about/">Tobias Klein</a> –
<time class="article__date" datetime="2022-11-12T12:01:35+00:00">12 November, 2022</time>
</div>

<h2 class="article__title">
<a href="/do-what-you-can-with-what-you-have-where-you-are/">datacamp concrete regression challenge</a>
</h2>

<p class="article__excerpt">This is my notebook I created to solve the datacamp concrete challenge within an hour. There are explanations for most of the code in this article and we look deeper into the workings of the Lasso regression model.</p>


<div class="article__tags">

<a href="/tags/?tag=family" class="article__tag">regression-analysis </a>

<a href="/tags/?tag=story" class="article__tag">sklearn</a>

</div>


</div>
</div>
</div>



  </div>
</div>

<section class="section featured-post animate">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="featured-post__inner">

          <div class="section__head">
            <h3 class="section__title">Multi-part Series</h3>
          </div>

          <div class="row">
            <div class="article col col-3 col-d-6 col-m-12">
              <div class="article__inner">
                <div class="article__head">


                  <a class="article__image" href="/what-you-do-speaks-so-loudly-that-I-cannot-hear-what-you-say/">
                    <img class="lazy loaded" alt="What you do speaks so loudly that I cannot hear what you say" data-ll-status="loaded" src="assets/img/06.jpeg">
                  </a>

                </div>
                <div class="article__content">
                  <div class="article__meta">
                    <a class="article__author__link" href="/about/">Tobias Klein</a> –
                    <time class="article__date" datetime="2022-11-07T12:01:35+00:00">7 Nov, 2022</time>
                  </div>
                  <h2 class="article__title">
                    <a href="/what-you-do-speaks-so-loudly-that-I-cannot-hear-what-you-say/">Advanced Geospatial Feature Creation</a>
                  </h2>
                </div>
              </div>
            </div>







            <div class="article col col-3 col-d-6 col-m-12">
              <div class="article__inner">
                <div class="article__head">


                  <a class="article__image" href="/remember-that-happiness-is-a-way-of-travel-not-a-destination/">
                    <img class="lazy loaded" alt="Remember that happiness is a way of travel, not a destination" data-ll-status="loaded" src="assets/img/06.jpeg">
                  </a>

                </div>
                <div class="article__content">
                  <div class="article__meta">
                    <a class="article__author__link" href="/about/">Tobias Klein</a> –
                    <time class="article__date" datetime="2022-04-24T12:01:35+00:00">24 Apr, 2022</time>
                  </div>
                  <h2 class="article__title">
                    <a href="/remember-that-happiness-is-a-way-of-travel-not-a-destination/">Cleaning a 47 Column Pandas DataFrame Part 4</a>
                  </h2>
                </div>
              </div>
            </div>



            <div class="article col col-3 col-d-6 col-m-12">
              <div class="article__inner">
                <div class="article__head">


                  <a class="article__image" href="/if-you-cannot-do-great-things-do-small-things-in-a-great-way/">
                    <img class="lazy loaded" alt="If you cannot do great things, do small things in a great way" data-ll-status="loaded" src="assets/img/06.jpeg">
                  </a>

                </div>
                <div class="article__content">
                  <div class="article__meta">
                    <a class="article__author__link" href="/about/">Tobias Klein</a> –
                    <time class="article__date" datetime="2022-04-23T12:01:35+00:00">23 Apr, 2022</time>
                  </div>
                  <h2 class="article__title">
                    <a href="/if-you-cannot-do-great-things-do-small-things-in-a-great-way/">Cleaning a 47 Column Pandas DataFrame Part 3</a>
                  </h2>
                </div>
              </div>
            </div>







            <div class="article col col-3 col-d-6 col-m-12">
              <div class="article__inner">
                <div class="article__head">


                  <a class="article__image" href="/a-journey-of-a-thousand-leagues-begins-beneath-ones-feet/">
                    <img class="lazy loaded" alt="A journey of a thousand leagues begins beneath one’s feet" data-ll-status="loaded" src="assets/img/06.jpeg">
                  </a>

                </div>
                <div class="article__content">
                  <div class="article__meta">
                    <a class="article__author__link" href="/about/">Tobias Klein</a> –
                    <time class="article__date" datetime="2022-03-29T15:05:55+00:00">29 Mar, 2022</time>
                  </div>
                  <h2 class="article__title">
                    <a href="/a-journey-of-a-thousand-leagues-begins-beneath-ones-feet/">Cleaning a 47 Column Pandas DataFrame Part 2</a>
                  </h2>
                  <p>Showcase of how batch processing several columns of tabular data using pandas, pyjanitor and the re library can look like.</p>
                </div>
              </div>
            </div>




          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<section class="section section-tags animate">
  <div class="container">
    <div class="row">
      <div class="col col-12">

        <div class="section__head">
          <h3 class="section__title">Popular Topics</h3>
        </div>




        <div class="row">


          <div class="col col-2 col-d-6 col-m-12">
            <a href="/tags/?tag=family" class="tag-image">
              <span class="tag-name">family</span>
              <img class="lazy loaded" alt="post.title" data-ll-status="loaded" src="assets/img/06.jpeg">
            </a>
          </div>



          <div class="col col-2 col-d-6 col-m-12">
            <a href="/tags/?tag=hobby" class="tag-image">
              <span class="tag-name">hobby</span>
              <img class="lazy loaded" alt="post.title" data-ll-status="loaded" src="assets/img/06.jpeg">
            </a>
          </div>



          <div class="col col-2 col-d-6 col-m-12">
            <a href="/tags/?tag=interior" class="tag-image">
              <span class="tag-name">interior</span>
              <img class="lazy loaded" alt="post.title" data-ll-status="loaded" src="assets/img/06.jpeg">
            </a>
          </div>



          <div class="col col-2 col-d-6 col-m-12">
            <a href="/tags/?tag=kitchen" class="tag-image">
              <span class="tag-name">kitchen</span>
              <img class="lazy loaded" alt="post.title" data-ll-status="loaded" src="assets/img/06.jpeg">
            </a>
          </div>



          <div class="col col-2 col-d-6 col-m-12">
            <a href="/tags/?tag=learn" class="tag-image">
              <span class="tag-name">learn</span>
              <img class="lazy loaded" alt="post.title" data-ll-status="loaded" src="assets/img/06.jpeg">
            </a>
          </div>



          <div class="col col-2 col-d-6 col-m-12">
            <a href="/tags/?tag=lifestyle" class="tag-image">
              <span class="tag-name">lifestyle</span>
              <img class="lazy loaded" alt="post.title" data-ll-status="loaded" src="assets/img/06.jpeg">
            </a>
          </div>



        </div>
      </div>
    </div>
  </div>
</section>
