---
layout: default2
---

<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="hero__inner">

          <div class="hero__left">

            <h1 class="hero__title">Hi, I'm <span>Tobias Klein</span>.</h1>


            <h2 class="hero__job">Designer, Illustrator</h2>


            <p class="hero__description">I spend a lot of time creating cool things</p>


            <a class="hero__button" href="/about/">
              <span class="hero__button__arrow"><i class="ion ion-ios-arrow-forward"></i></span>
              <span>Read about my past</span>
            </a>

          </div>


          <div class="hero__right">
            <div class="hero__image">
              <img class="lazy loaded" alt="'s Picture" data-ll-status="loaded" src="assets/img/profile.jpeg">
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</section>



<div class="container animate">

  <div class="section__head">
    <h3 class="section__title">Featured posts</h3>
  </div>

  <div class="row">
{% for post in site.projects limit:3 %}

    <div class="article col col-4 col-d-6 col-t-12">
<div class="article__inner">

<div class="article__head">



  <a class="article__image" href="/do-what-you-can-with-what-you-have-where-you-are/">
    <img class="lazy loaded" alt="Do what you can, with what you have, where you are" data-ll-status="loaded" src="assets/img/06.jpeg">
  </a>

</div>

<div class="article__content">

  <div class="article__meta">
    {% for author in site.data.coauthors %}
    <a class="article__author__link" href="{{author.url}}">{{author.name}}</a> –
    <time class="article__date">{{post.date | date_to_string}}</time>
    {% endfor %}
  </div>

  <h2 class="article__title">
    <a href="{{post.url}}">{{post.title}}</a>
  </h2>

  <p class="article__excerpt">{{post.description}}</p>


  <div class="article__tags">
    {% for category in post.categories %}

    <a href="{{ category | prepend: '/projects/category/' | prepend: site.baseurl}}" class="article__tag">{{post.categories}}</a>
    {% endfor %}
  </div>


</div>
</div>

</div>
{% endfor %}


  </div>
</div>

<section class="section featured-post animate">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="featured-post__inner">

          <div class="section__head">
            <h3 class="section__title">Multi-part Series</h3>
          </div>

          <div class="row">
            {% for post in site.projects limit:4 %}
            <div class="article col col-3 col-d-6 col-m-12">
              <div class="article__inner">
                <div class="article__head">


                  <a class="article__image" href="/what-you-do-speaks-so-loudly-that-I-cannot-hear-what-you-say/">
                    <img class="lazy loaded" alt="What you do speaks so loudly that I cannot hear what you say" data-ll-status="loaded" src="assets/img/06.jpeg">
                  </a>

                </div>
                <div class="article__content">
                  <div class="article__meta">
                    {% for author in site.data.coauthors %}
                    <a class="article__author__link" href="{{author.url}}">{{author.name}}</a> –
                    <time class="article__date" datetime="2022-11-07T12:01:35+00:00">{{post.date | date_to_string}}</time>
                    {% endfor %}
                  </div>
                  <h2 class="article__title">
                    <a href="/what-you-do-speaks-so-loudly-that-I-cannot-hear-what-you-say/">{{post.title}}</a>
                  </h2>
                </div>
              </div>
            </div>
            {% endfor %}


          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<section class="section section-tags animate">
  <div class="container">
    <div class="row">
      <div class="col col-12">

        <div class="section__head">
          <h3 class="section__title">Popular Topics</h3>
        </div>
        <div class="row">

          {% for category in site.projects %}

          <div class="col col-2 col-d-6 col-m-12">
            <a href="/tags/?tag=family" class="tag-image">
              <span class="tag-name">{{category.categories}}</span>
              <img class="lazy loaded" alt="post.title" data-ll-status="loaded" src="assets/img/06.jpeg">
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
