---
layout: default
---
<section class="contact-sec no-bg">
  <div class="container">
    <div
      class="sec-title text-center wow fadeInUp"
      data-wow-duration="1000ms"
      data-wow-delay="0ms"
    >
      <h2>Get In Touch</h2>
      <span>Prefer using email? Say hi at <a href="mailto:kle.tobias@googlemail.com">kle.tobias@googlemail.com</a></span>
    </div>
    <!--sec-title end-->
    <form class="contact-form" action="https://formspree.io/f/meqwkgdo" method="POST">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <input
              type="text"
              class="form--control"
              id="name"
              name="name"
              placeholder=""
            />
            <label for="name">Full Name</label>
          </div>
          <!--form-group end-->
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <input
              type="text"
              class="form--control"
              id="email"
              name="email"
              placeholder=""
            />
            <label for="email">Email Address <span>*</span></label>
          </div>
          <!--form-group end-->
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <input
              type="text"
              class="form--control"
              id="subject"
              name="subject"
              placeholder=""
            />
            <label for="subject">Subject</label>
          </div>
          <!--form-group end-->
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <textarea class="form--control" id="message" name="message"></textarea>
            <label for="message">Your message here</label>
          </div>
          <!--form-group end-->
        </div>
        <div class="col-md-12">
          <div class="form-group text-center m-0">
            <button type="submit" class="btn-page no-bg">
              Send Message
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
