<!DOCTYPE html>
<html lang="{{ site.lang }}">

  <!-- Head -->
  <head>
  {%- if page.redirect -%}
    <meta http-equiv="refresh" content="3; url={{ site.baseurl }}/projects" />
  {%- endif -%}
  {% include head.html %}
  
  </head>

  <!-- Body -->
  <body id="about" class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}">

    <!-- Header -->
    {%- include header.html %}

    <!-- Content -->
    <main class="content" aria-label="Content">
      {{ content }}
    </main>
    <div class="top" title="Top"><i class="ion ion-ios-arrow-up"></i></div>
    <!-- Footer -->
    {%- include footer.html %}

    <!-- JavaScripts -->
    {% include scripts/jquery.html %}
    {% include scripts/bootstrap.html %}
    {% include scripts/masonry.html %}
    {% include scripts/misc.html %}
    {% include scripts/mathjax.html %}
    {% include scripts/analytics.html %}
  </body>
</html>
